@use '../../styles/colors.scss';

.wrapper{
    background-color: white;
    min-height: 80vh;
    max-height: 80vh;
    height: 100%;
    min-width: 300px;
    max-width: 300px;
    width: 100%;
    border-radius: 1rem;
    overflow: hidden;
}

.title-todo{
    background-color: colors.$todo_color;
    color: white;
    text-align: center;
    border-radius: 1rem 1rem 0 0;   
    margin-top: -21px;  
}

.title-progress{
    background-color: colors.$progress_color;
    color: white;
    text-align: center;
    border-radius: 1rem 1rem 0 0;   
    margin-top: -21px;  
}

.title-done{
    background-color: colors.$done_color;
    color: white;
    text-align: center;
    border-radius: 1rem 1rem 0 0;   
    margin-top: -21px;  
}

.content{
    padding-right: 20px;
    padding-left: 10px;
    max-height: 70vh;
    width: 100%;
    overflow-y: scroll;
}

@media (max-width: 1000px){
    .wrapper{
        margin: auto;
        margin-bottom: 100px;
    }
}