@use '../../styles/colors.scss';

.wrapper{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    max-width: 400px;
    max-height: 500px;
    width: 100%;
    background-color: white;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
}

.header{
    background-color: colors.$task_color;
    text-align: center;
    color: white;
    border-radius: 2rem 2rem 0 0;
    font-size: 12px;
}

.content{
    max-height: 45%;
    height: 100%;
    padding: 30px;
}
