@use '../../styles/colors.scss';

.wrapper{
    position: absolute;
    bottom : 5%;
    right: 5%;
    color: white;
    background-color: colors.$error_color;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 200px;
    width: 100%;
    padding: 16px 32px;
    border-radius: 1rem;
}