@use '../../styles/colors.scss';

.filter{
    padding: 15px 32px;
    background-color: colors.$task_color;
    border-radius: 1rem;
    border: none;
    text-align: center;
    font-size: 16px;
    color: white;
}

option{
    text-align: center;
}